@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+Khojki&display=swap');

* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    transition: all 1s;
}

body {
    background-color: #000;
}

/*Header*/

.capa {
    width: 100%;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: -425px;
    background-color: #000;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 30px;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 5px;
}

header div .logo {
    font-family: "Madimi One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #FFF
}

.logo span {
    font-size: 17px;
}

.span-e {
    font-size: 23px !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 600px;
    max-width: 600px;
    padding-right: 30px;
}

nav a {
    text-decoration: none;
}

nav span:first-child {
    font-size: 14px;
    color: #DDD;
    font-weight: 550;
    margin-right: 6px;
    padding-bottom: 6px;
}

.div-header {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.div-header div {
    position: absolute;
    top: 50px;
    left: 100px;
}

.div-header h1 {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.div-header button {
    border-radius: 4px;
    background-color: #FCED70;
    font-size: 14px;
    color: #131313;
    border: none;
    text-transform: uppercase;
    padding: 10px 18px;
}

/*Section*/

.card-anime-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    row-gap: 50px;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.card-anime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-anime img {
    margin-bottom: 16px;
}

.card-anime h3 {
    color: #FFF;
}

/*Footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgb(115, 13, 138);
    color: #FFF;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

/*Aside*/

.anime-detail {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.anime-detail div:first-child {
    width: 43%;
    position: relative;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px;
    height: auto;
    overflow-y: hidden;
    border: solid 1px #444;
    border-radius: 8px;
}

.anime-detail h1 {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    margin: 18px 0;
}

.div-date-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c4bbbb;
    font-size: 16px;
    font-weight: 700;
    width: 40%;
    margin-bottom: -8px;
}

.anime-detail h4 {
    color: #b9a9a9;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.section-sinopse {
    color: #d8c7c7;
    font-size: 14px;
}

.section-sinopse h5 {
    color: #c4bbbb;
    font-size: 16px;
    font-weight: 700;
    padding-left: 0;
    margin-bottom: 15px !important;
}

.section-sinopse p {
    color: #b9a9a9;
    font-size: 12.5px;
    font-weight: 500;
}

.season-eps {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.season-eps span {
    color: #b8aeae;
    font-weight: 700;
    font-size: 12.5px;
    margin-right: 8px;
}

hr {
    width: 100%;
    border: solid 0.5px #333;
    margin: 20px 0;
}

.genres {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 35%;
}

.genres span {
    border-radius: 10px;
    border: solid 0.5px #333;
    color: #b8aeae;
    padding: 8px;
    font-size: 12px;
    margin-right: 16px;
    text-wrap: nowrap;
}

.close {
    position: absolute;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 10px;
    text-align: center;
    line-height: 20px;
    background-color: #333;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: #F5F5F5;
}

.show-detail {
    display: flex;
}

.close-detail {
    display: none;
}